* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #342a62;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    margin-top: 120px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% -10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}
.front-face {
    transform: rotateY(180deg);
    background-color: #527089;
}

.back-face {
    background-color: #6589a7;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

/* history */
.score {
    display: flex;
    width: 100%;
    margin: auto;
    border: 4px solid #dbdbdb;
    border-radius: 4px;
}
.score-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 32px 8px;
    color: #e6e6e6;
    font-size: 16px;
    font-weight: normal;
}
.score-board {
    font-weight: normal;
    font-size: 32px;
    padding: 8px;
    margin: auto;
}
.highscore {
    color: #e6e6e6;
    padding: 32px 0 16px 48px;
    width: 90%;
}
.history {
    color: #c0c0c0;
    display: flex;
    padding-top: 24px;
    justify-content: space-between;
}
