* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #342a62;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% -10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}
.front-face {
    transform: rotateY(180deg);
    background-color: #527089;
}

.back-face {
    background-color: #6589a7;
}

.memory-card.flip {
    transform: rotateY(180deg);
}
